/JogoSenha/target/
/pequenas criaçoes/Media/target/
/triangulo/target/
/pequenas criaçoes/Circunferencia-MembrosEstaticos/target/
/pequenas criaçoes/ComprarDolar/target/
/EstoqueMelhorado/target/
/Encapsulamento/target/
/pequenas criaçoes/Banco/target/
/Vet2/target/
